.vscode/launch.json
tools/AcftLoader/.vs/AcftLoader/DesignTimeBuild/.dtbcache.v2
tools/AcftLoader/.vs/AcftLoader/DesignTimeBuild/.dtbcache.v2
tools/AcftLoader/.vs/AcftLoader/v17/.suo
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.deps.json
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.dll
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.pdb
tools/AcftLoader/bin/Debug/net6.0/System.Data.SqlClient.dll
tools/AcftLoader/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
tools/AcftLoader/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
tools/AcftLoader/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
tools/AcftLoader/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
tools/AcftLoader/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
tools/AcftLoader/obj/AcftLoader.csproj.nuget.dgspec.json
tools/AcftLoader/obj/project.assets.json
tools/AcftLoader/obj/project.nuget.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.assets.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.AssemblyReference.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.CopyComplete
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.CoreCompileInputs.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.FileListAbsolute.txt
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.dll
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.GeneratedMSBuildEditorConfig.editorconfig
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.pdb
tools/AcftLoader/obj/Debug/net6.0/ref/AcftLoader.dll
tools/AcftLoader/obj/Debug/net6.0/refint/AcftLoader.dll
tools/AcftLoader/.vs/AcftLoader/DesignTimeBuild/.dtbcache.v2
tools/AcftLoader/.vs/AcftLoader/v17/.suo
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.deps.json
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.dll
tools/AcftLoader/bin/Debug/net6.0/AcftLoader.pdb
tools/AcftLoader/obj/AcftLoader.csproj.nuget.dgspec.json
tools/AcftLoader/obj/project.assets.json
tools/AcftLoader/obj/project.nuget.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.assets.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.AssemblyReference.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.CoreCompileInputs.cache
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.csproj.FileListAbsolute.txt
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.dll
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.GeneratedMSBuildEditorConfig.editorconfig
tools/AcftLoader/obj/Debug/net6.0/AcftLoader.pdb
tools/AcftLoader/obj/Debug/net6.0/ref/AcftLoader.dll
tools/AcftLoader/obj/Debug/net6.0/refint/AcftLoader.dll
tools/AcftLoader/.vs/AcftLoader/DesignTimeBuild/.dtbcache.v2
tools/AcftLoader/obj/Debug/net6.0/refint/AcftLoader.dll
